* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.menu__inner {
    padding: 20px 0;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header__item {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo {

    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #22262A;
 }

 .logo:hover {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: rgba(208, 255, 1, 0.672);
    
 }



.menu__list {
    display: flex;
    list-style-type: none;
}

.menu__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-right: 20px;
    color: #22262A;
}

.menu__link:hover {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-right: 20px;
    color: rgba(208, 255, 1, 0.672);
}

.fas, .far {
    font-family: Font Awesome 5 Pro;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 18px;
    padding: 0 20px;
    color: #22262A;
}

.far {
    margin: 0 20px;
    
}

.fa-heart:hover {   
    color: rgb(197, 3, 3);
}
.fas:hover {
    color: rgba(208, 255, 1, 0.672);
}

.hero__item {
   position: relative;
   min-height: 745px;
}

.hero__item-content {
    position: absolute;
    bottom: 150px;
    right: 50px;
}

#hero {
    min-height: 745px;
    background: url(../image/bg/1\ 1.png) no-repeat;
}

.hero__desc {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
}

.hero__title {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;
}

.hero__link {
    display: inline-block;
    padding: 5px 30px;
    margin-right: 30px;
    margin-top: 30px;
    background: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.hero__link:hover {
    color: rgba(208, 255, 1, 0.672);
}

#category {
    padding-top: 120px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}

.col-6 {
    width: 50%;
    padding: 0 30px;
}

.img__category-men {
    width: 100%;
}
.row__female-category_image  {
    display: flex;

    margin: 20px 12px 0 -12px;
}
.female__col-6 {
    
    width: 100%;
    padding: 0 12px;
}.female{
    width: 100%;
}
.category__men-bg{
    position: relative;
    background: #00000050 url(../image/category__name/men8.png);
    background-blend-mode: darken;
    min-height: 550px;

}
.category__link{
    position: absolute;
    left: 30px;
    bottom: 30px;
    padding: 5px 25px;
    background: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22262A;
} 

.category__link:hover {
    padding: 5px 25px;
    background: rgb(2, 250, 209);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(21, 26, 1, 0.672);
}

#catalog__women {
    padding-top: 110px;

}

.catalog__title{ 
    display: block;
    margin-top: 100px;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
}

.catalog__desc {
    display: block;
    margin: 15px 0 65px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
}

.catalog__row { 
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

.col-3 {
    width: 25%;
    padding: 0 20px;
}

.catalog__img {
    width: 100%;
}

.catalog__product-desc {
    margin-top: 40px;
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.catalog__product-title {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.catalog__price { 
    width: 145px;
    display: flex;
    justify-content: space-between;
}

.price {

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    
}

.old {

    text-decoration: line-through;
}

.new { 
    color: red;
}

#catalog__men {

    padding-top: 110px;
    
}

#styles {

   padding-top: 110px;
}
.title__style {

    display: block;
    margin: 110px 0 15px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #22262A;
}

.title__desc {

    display: block;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #22262A;
    margin-bottom: 60px;
}
.style__row {

    display: flex;
    flex-wrap: wrap;
    
}

.style__col-6 {

    margin-right: 20px;
}

.img__style {

    margin-top: 150px;
    width: 100%;
}

.style__img-right {
    margin-top: 60px;
}

.layer__block {

    position: relative;
    min-height: 300px;
}

.img__style-layer {

    position: absolute;
    right: -10px;
    bottom: 70px;
    padding: 20px 0 0 20px;
    background: #fff;
}

.layer__title-item {
    position: absolute;
    bottom: 80px;
    left: 100px;
    border-bottom: 1px solid #000 ;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: #22262A;
}

.layer__title-item:hover {
    color: rgba(1, 90, 97, 0.672);
}

.lower__item-content {
    position: absolute;
    bottom: 135px;
    left: 230px;
}

#hero__lower {
    min-height: 745px;
    background: url(../image/lower/girl1.png) no-repeat;
    margin-top: 120px;
}

.hero__title-lower {
    font-weight: bold;
    font-size: 80px;
    line-height: 120px;
    color: #22262A;
}

#bottom__table {
    background: #F2F8FC;
}

.bottom__table-caption {
    display: inline-block;
    margin: 115px 0 15px 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
}

.item__bottom-table_desc {
    display: inline-block;
    width: 405px;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
    margin-bottom: 40px;
}

.fa-location {
    margin-left: -15px;
}

.table__bottom-location {
    display: inline-block;
    margin-left: -5px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.bottom__table-email {
    border-bottom: 1px solid #000;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.bottom__table-coordinates {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.social__network-icon {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    justify-content: space-between;
}

.fab {
    font-family: Font Awesome 5 Brands;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    color: #000000
}

.bottom__table-caption {
    display: inline-block;
    margin:0 115px 0 25px 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #22262A;
}

.form__email-btn {
    position: relative;
}

#bottom__form-left_email {
    border: none;
    background: #FFFFFF;
    width: 530px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 10px 0 10px 25px;
}

.bottom__form-left_item::placeholder {
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}

.bottom__form-email_btn {
    border: none;
    background: transparent;
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;  
    color: #22262A;
}

.down__menu {
    display: flex;
    justify-content: space-between;
}

.down__menu-list {
    list-style-type: none;
}

.dowm__menu-title {
    display: inline-block;
    margin: 70px 0 30px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
}

.dowm__menu-link {
    display: inline-block;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
}
.footer {
    margin-top: 110px;
    padding: 35px 0 35px 0;
    text-align: center;
    width: 1592px;
    height: 93px;
    left: 0px;
    top: 5383px;
    background: #E7F5F8;
}













































/* .table__list-bottom_item {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
}
.list__item__col-3 {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 33%;
}

.bottom__list-item {
    list-style-type: none;
}
.li__bottom-desc {
    display: inline-block;
    margin:80px 0 25px 0 ;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #22262A;
}

.link__bottom-item {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    color: #22262A;
} */
































































